@model IEnumerable<StockMap.Models.Favorite>

@{
    ViewBag.Title = "收藏股票";
}

<h2>收藏股票</h2>

<p>
    @Html.ActionLink("新增收藏股票", "Create")
</p>
<table class="table">
    <tr>
        <th>
            股票代碼
        </th>
        <th>
            股票名稱
        </th>
        <th>
            收藏次數
        </th>
        <th>
            價格/股
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Stock.Id, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.FavoriteCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Price)
            </td>
            <td>
                @Html.ActionLink("移除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
