@model StockMap.Models.Favorite

<script type="text/javascript">
    $(function () {
        $("a.postLink").click(function (e) {
            e.preventDefault();
            $.post($(this).attr("href"), function (data) {
            });
        });
    });
</script>

@{
    ViewBag.Title = "收藏股票";
}

<h2>收藏股票</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>新增收藏股票</h4>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <label class="control-label col-md-2">請輸入股票代碼：</label>
            <div class="row">
                <div class="col-md-2">
                    @Html.EditorFor(model => model.StockId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StockId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    <input type="submit" value="新增" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            股票代碼
        </th>
        <th>
            股票名稱
        </th>
        <th>
            收藏次數
        </th>
        <th>
            價格/股
        </th>
        <th>
            資料更新時間
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model.FavoriteIndex)
    {
        <tr>
            <td>
                @using (Html.BeginForm("Index", "Stocks", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input name="searchId" type="hidden" value=@item.Stock.StockId>
                    <input type="submit" value=@item.Stock.StockId>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.FavoriteCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.PriceNow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.UpdateTime)
            </td>
            <td>
                @Html.ActionLink("移除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

