@model IEnumerable<StockMap.Models.Favorite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新增收藏股票", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.FavoriteCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Price)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Stock.Id, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.FavoriteCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Price)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
