@model PagedList.IPagedList<StockMap.Models.StockFound>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>基礎面股票</h2>

<div class="dropdown" style="margin:1%">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        三大面向股票
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="../StockTeches/Index">技術面</a></li>
        <li><a href="../StockChips/Index">籌碼面</a></li>
        <li><a href="../StockFounds/Index">基礎面</a></li>
    </ul>
</div>

@using (Html.BeginForm("Index", "StockFounds", FormMethod.Get))
{
    <p>
        本益比最小值: @Html.TextBox("SearchIntMin", ViewBag.CurrentFilterMin as string)~本益比最大值:@Html.TextBox("SearchIntMax", ViewBag.CurrentFilterMax as string)
        <input type="submit" value="Search" />
    </p>
    if (ViewBag.erroMsg != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.erroMsg</div>
    }
}

<table class="table">
    <tr>
        <th>
            股票代碼
        </th>
        <th>
            股票名稱
        </th>
        <th>
            收盤價
        </th>
        <th>
            @Html.ActionLink("本益比", "Index", new { sortOrder = ViewBag.PERSortParm, currentFilterMin = ViewBag.CurrentFilterMin, currentFilterMax = ViewBag.CurrentFilterMax })
        </th>
        <th>
            股息
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERatio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dividend)
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.PERSortParm, currentFilterMin = ViewBag.currentFilterMin, currentFilterMax = ViewBag.CurrentFilterMax }))
