@model PagedList.IPagedList<StockMap.Models.StockFound>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>基礎面股票</h2>

<div class="dropdown" style="margin:1%">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        三大面向股票
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="../StockTeches/Index">技術面</a></li>
        <li><a href="../StockChips/Index">籌碼面</a></li>
        <li><a href="../StockFounds/Index">基礎面</a></li>
    </ul>
</div>

@using (Html.BeginForm("Index", "StockFounds", FormMethod.Get))
{
    <p>
        本益比最小值: @Html.TextBox("SearchIntMin", ViewBag.CurrentFilterMin as string)~本益比最大值:@Html.TextBox("SearchIntMax", ViewBag.CurrentFilterMax as string)
        <input type="submit" value="Search" />
    </p>
    if (ViewBag.erroMsg != null)
    {
        <div class="alert alert-danger" role="alert">@ViewBag.erroMsg</div>
    }
}

<table class="table">
    <tr>
        <th>
            股票代碼
        </th>
        <th>
            股票名稱
        </th>
        <th>
            收盤價
        </th>
        <th>
            <span title="計算方式為現在股價/預估未來每股盈餘。可以快速判斷現在股價是便宜還是昂貴。每個產業的本益比並不相同，如果要做估價時必須要拿適合該產業的本益比來計算">
                @Html.ActionLink("本益比", "Index", new { sortOrder = ViewBag.PERSortParm, currentFilterMin = ViewBag.CurrentFilterMin, currentFilterMax = ViewBag.CurrentFilterMax })
            </span>
        </th>
        <th>
            <span title="上一期的現金股利/股。可視為把一筆錢長期投入股市，每年能拿回的利息報酬率。觀念類似銀行定存，簡單評估投入的資金所得到的報酬率">
                股票殖利率
            </span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @using (Html.BeginForm("Index", "Stocks", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input name="searchId" type="hidden" value=@item.Stock.StockId>
                    <input type="submit" value=@item.Stock.StockId>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERatio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dividend)
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilterMin = ViewBag.currentFilterMin, currentFilterMax = ViewBag.CurrentFilterMax }))

<style>

    a{
        color:black;
    }

    tr:nth-child(even) {
        background-color: lightgray;
    }
</style>
