@model PagedList.IPagedList<StockMap.Models.StockYesterday>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>昨日熱門股</h2>

<table class="table">
    <tr>
        <th>
            股票代碼
        </th>
        <th>
            股票名稱
        </th>
        <th>
            資料日期
        </th>
        <th>
            交易量
        </th>
        <th>
            開盤價
        </th>
        <th>
            最高價
        </th>
        <th>
            最低價
        </th>
        <th>
            收盤價
        </th>
        <th>
            買賣差
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @using (Html.BeginForm("Index", "Stocks", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input name="searchId" type="hidden" value=@item.Stock.StockId>
                    <input type="submit" value=@item.Stock.StockId>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volumn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowestPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellBuy)
            </td>
        </tr>
    }

</table>
