@model StockMap.Models.StockTech

@{
    ViewBag.Title = "技術面";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h2>技術面股票</h2>

<div class="dropdown" style="margin:1%">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        三大面向股票
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="../StockTeches/Index">技術面</a></li>
        <li><a href="../StockChips/Index">籌碼面</a></li>
        <li><a href="../StockFounds/Index">基礎面</a></li>
    </ul>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form asp-action="Index" method="post">
        <div class="form-actions no-color row">
            <p>
                請輸入股票代碼 : <input type="text" name="SearchId" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" />
            </p>
        </div>
    </form>
}

<div>
    <h4>查詢結果</h4>
    <hr />
    <h5>@ViewBag.ErroMsg</h5>
    @if (ViewBag.CheckOk == true)
    {
        var jsonChartData = @Json.Encode(Model.ChartData);//將透過Model讀取的資料轉成json
        <h2 class="text-left" title="死亡交叉:意指最近一周的平均價格低於最近一月的平均值。常作為賣出的訊號。
黃金交叉:意指最近一周的平均價格高於最近一月的平均值。常作為買入的訊號。">
            @ViewBag.Cross
        </h2>
        <h1 class="text-center" title="MA:每天和其前幾天的的平均價所組成的線">@Html.DisplayFor(modelItem => modelItem.Stock.StockName)</h1>
        <canvas id="LineChart"></canvas>//Chart一定用使用canvas標籤，不然會出現建立失敗的錯誤訊息
        <script>
            var jsChartData = @Html.Raw(jsonChartData);//顯示json原始資料
            var ctx = document.getElementById("LineChart");
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: jsChartData.labels,
                    datasets: [
                        {
                            label: jsChartData.datasets[0].label,
                            data: jsChartData.datasets[0].data,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132)'
                        },
                        {
                            label: jsChartData.datasets[1].label,
                            data: jsChartData.datasets[1].data,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgb(75, 192, 192)'
                        }
                        ,
                        {
                            label: jsChartData.datasets[2].label,
                            data: jsChartData.datasets[2].data,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgb(54, 162, 235)'
                        }
                    ]
                }
            })
        </script>
    }
</div>

