@model PagedList.IPagedList<StockMap.Models.StockChip>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>籌碼面股票</h2>

<div class="dropdown" style="margin:1%">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        三大面向股票
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="../StockTeches/Index">技術面</a></li>
        <li><a href="../StockChips/Index">籌碼面</a></li>
        <li><a href="../StockFounds/Index">基礎面</a></li>
    </ul>
</div>

<table class="table">
    <tr>
        <th>
            股票代碼
        </th>
        <th>
            股票名稱
        </th>
        <th>
            @Html.ActionLink("外資買賣超", "Index", new { sortOrder = ViewBag.FINBSSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("投信買賣超", "Index", new { sortOrder = ViewBag.ITCNBSSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("自營商買賣超(自行買賣)", "Index", new { sortOrder = ViewBag.DNBSSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            自營商買賣(避險)
        </th>
        <th>
            @Html.ActionLink("三大法人買賣超", "Index", new { sortOrder = ViewBag.TSBSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockFINBS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockTCNBS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockDNBSProprietary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockDNBSHedge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeSellBuy)
            </td>
        </tr>
    }

</table>
